::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto";
}

h3 {
  color: black;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header #logo {
  width: auto;
  height: auto;
  flex: 1;
  padding: 20px 20px 20px 20px;
}
header #logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
}
header .icon i {
  font-size: 24px;
}

footer {
  width: 100%;
  height: 180px;
  background-color: rgba(24, 22, 22, 0.8588235294);
}
footer .omf {
  font-family: "Shrikhand";
  color: white;
  padding: 15px 0px 15px 15px;
}

.footer_text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
  padding-left: 15px;
  font-size: 14px;
}
.footer_text .fa-utensils {
  font-size: 11px;
}
.footer_text .fa-hands-helping {
  font-size: 10px;
}
.footer_text a {
  color: white;
}
.footer_text .text {
  padding: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  margin: 0;
  padding: 0;
  /* animation du loader */
}
body .loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 3;
  opacity: 0.9;
  animation: disappear 200ms 4s forwards;
  transform-origin: top;
}
body .loader::after {
  animation: spin 3s infinite linear;
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #8047c4;
  border-radius: 50%;
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
body .omf_logo {
  font-family: "Shrikhand";
  color: black;
  padding: 15px 0px 15px 15px;
  width: 100%;
  height: 50px;
  font-size: 40px;
  text-align: center;
}

.paris-belleville {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: lightgray;
  border-top: 0.5px solid gray;
  width: 100%;
  height: 40px;
}

.explore {
  text-align: center;
  color: gray;
  background-color: #f6f6f6;
}
.explore h1 {
  color: black;
}

.btn_explore {
  margin: 30px;
  height: 40px;
  background: linear-gradient(355deg, #8047c4, #FF79DA);
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  width: 250px;
  color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}
.btn_explore:hover {
  transform: scale(1.1);
  transition: transform 600ms ease-in-out;
}

/***** VERSION MOBILE **********/
.fonctionnement h2 {
  padding-left: 25px;
  font-size: 23px;
  font-weight: bold;
}
.fonctionnement .itemsFonct {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}
.fonctionnement .itemsFonct .itemFonct {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  height: 70px;
  gap: 25px;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.fonctionnement .itemsFonct .itemFonct .numberFonct {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .itemsFonct .itemFonct .iconFonct {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .itemsFonct .itemFonct .iconFonct i {
  color: gray;
}
.fonctionnement .itemsFonct .itemFonct .iconFonct i:hover {
  color: #9356DC;
}
.fonctionnement .itemsFonct .itemFonct .textFonc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/******************** VERSION TABLETTE *******************/
@media screen and (min-width: 600px) and (max-width: 991px) {
  .itemsFonct {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .itemsFonct .itemFonct {
    width: 50%;
  }
}
/* VERSION PC */
@media screen and (min-width: 991px) {
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement .itemsFonct {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .fonctionnement .itemsFonct .textFonc {
    padding-right: 40px;
  }
}
.restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.restaurant h2 {
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
}
.restaurant .restaurant_display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}
.restaurant .restaurant_display .rest_card {
  position: relative;
  box-shadow: 0px 3px 10px -7px black;
  border-radius: 20px;
  background-color: white;
  height: 200px;
  width: auto;
  flex: 1;
}
.restaurant .restaurant_display .rest_card .rest_img {
  position: relative;
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
}
.restaurant .restaurant_display .rest_card .rest_img img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurant .restaurant_display .rest_card .rest_img .new {
  position: absolute;
  font-size: 0.9em;
  color: green;
  top: 12px;
  right: 12px;
  padding: 5px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.restaurant .restaurant_display .rest_card .details_article {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant .restaurant_display .rest_card .details_article .rest_title {
  padding-left: 10px;
}
.restaurant .restaurant_display .rest_card .details_article .rest_title h3 {
  font-size: 15px;
}
.restaurant .restaurant_display .rest_card .details_article .rest_title .lieu {
  color: gray;
}
.restaurant .restaurant_display .rest_card .details_article .logo_heart {
  height: 40px;
  width: 40px;
  font-size: 2rem;
  color: black;
  position: relative;
}
.restaurant .restaurant_display .rest_card .details_article .logo_heart .fa-heart {
  font-size: 24px;
  position: absolute;
  right: 10px;
}
.restaurant .restaurant_display .rest_card .details_article .logo_heart .far {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}
.restaurant .restaurant_display .rest_card .details_article .logo_heart .far:hover {
  opacity: 0;
}
.restaurant .restaurant_display .rest_card .details_article .logo_heart .far:hover + .fas {
  opacity: 1;
  animation: heart-full 0.4s linear both;
}
.restaurant .restaurant_display .rest_card .details_article .logo_heart .fas {
  background: linear-gradient(63deg, #FF79DA 0%, #9356DC 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: 1;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.4s cubic-bezier(0.43, 0.21, 1, 0.45);
}

/**** KEYFRAME heart ****/
@keyframes heart-full {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* VERSION PC */
@media screen and (min-width: 991px) {
  .restaurant h2 {
    text-align: center;
  }
  .restaurant .restaurant_display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .restaurant .restaurant_display .rest_card {
    height: 210px;
  }
}
.img_menu {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu_card {
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -60px;
  background-color: #f6f6f6;
}
.menu_card .menu_titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "shrikhand";
  font-size: 17px;
  padding-left: 1rem;
}
.menu_card .menu_titre .logo_heart {
  width: 40px;
  padding: 20px;
  font-size: 26px;
  color: black;
}
.menu_card .menu_titre .heart2 {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  -webkit-background-clip: text;
  margin-left: -2rem;
}
.menu_card .menu_titre:hover .heart2 {
  opacity: 1;
  transform: translateY -50% scale(1.2);
}

.menu {
  border-radius: 20px;
  width: auto;
  flex: 1;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.menu .menu_type .titre h3 {
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 10px;
  font-weight: initial;
  color: gray;
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.menu .menu_type .delay-1 {
  animation: appear 1.5s;
  animation-delay: 100ms;
  animation-fill-mode: both;
}
.menu .menu_type .delay-2 {
  animation: appear 2.5s;
  animation-delay: 150ms;
  animation-fill-mode: both;
}
.menu .menu_type .delay-3 {
  animation: appear 3.5s;
  animation-delay: 200ms;
  animation-fill-mode: both;
}
.menu .menu_type .menu_items {
  width: 100%;
}
.menu .menu_type .menu_items .menu_item {
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.menu .menu_type .menu_items .menu_item .text_rest {
  width: auto;
  flex: 1;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu_type .menu_items .menu_item .text_rest h4 {
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu_type .menu_items .menu_item .text_rest p {
  margin-top: -1rem;
  color: gray;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu_type .menu_items .menu_item .price {
  display: flex;
  font-weight: 900;
  width: 50px;
  margin-top: 34px;
}
.menu .menu_type .menu_items .menu_item .check {
  width: 50px;
  margin-right: -50px;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu_type .menu_items .menu_item .check .round_check {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20px;
  font-size: 18px;
  background-color: white;
  border-radius: 10px;
  color: #99E2D0;
}
.menu .menu_type .menu_items .menu_item:hover .round_check {
  transition: transform 80ms ease-in-out;
  transform: rotate(360deg);
}
.menu .menu_type .menu_items .menu_item:hover .check {
  margin-right: 0px;
  transform: translateX(0px);
  transition: transform 330ms ease-in-out;
}

.commander {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}
.commander .btn_commander {
  margin: 30px;
  height: 50px;
  background: linear-gradient(355deg, #8047c4, #FF79DA);
  align-items: center;
  border-radius: 30px;
  width: 189px;
  color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
.commander .btn_commander:hover {
  transform: scale(1.1);
  transition: transform 600ms ease-in-out;
}

/*********** VERSION PC ******************/
@media screen and (min-width: 991px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    flex: 1;
  }
  .menu .menu_type {
    margin-bottom: 20px;
  }
  .menu .menu_type .food {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu .menu_type .food .menu_item {
    width: 320px;
  }
}
/******************** VERSION TABLETTE *******************/
@media screen and (min-width: 600px) and (max-width: 991px) {
  .restaurant .restaurant_display .rest_card {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
