.fonctionnement {

    h2 {
        padding-left: 25px;
        font-size: 23px;
        font-weight: bold;
    }

    .itemsFonct {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 20px;

        .itemFonct {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #f6f6f6;
            height: 70px;
            gap:25px;
            border-radius: 20px;
            @include base-shadow;

            .numberFonct {
                color: white;
                background-color: #9356DC;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                margin-left: -15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .iconFonct {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                .fa-solid {
                    color: gray;
                }

                .fa-solid:hover {
                    color: #9356DC;
                }
            }

            .textFonc {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }

        }
    }}

    /* VERSION PC */
    @media screen and (min-width:991px) {
.fonctionnement{
    h2{
        text-align: center;
    }

    .itemsFonct{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    .textFonc{
        padding-right: 40px;
    }
}
    }
        
    